* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0 0;
    margin: 0 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* Asegura que el contenedor ocupe toda la altura de la pantalla */
    background-color: antiquewhite;
    margin-right: 500px;
}


.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px;
    height: 300px;
    width: 300px;
}


form {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    height: 100%;
}

legend {
    text-align: center;
    font-size: 35px;
}

.formIf {

    margin-bottom: 0;
    /* Agrega esta línea para eliminar el margen inferior */

    background-color: lightcoral;
}

.formSwitch {
    margin-bottom: 0;

    background-color: lightgreen;
}

.formArray {
    margin-bottom: 0;

    background-color: cadetblue;
}