* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

/* Estilo del contenedor principal */
.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* Divide en 4 columnas iguales */
    gap: 10px;
    /* Espacio entre elementos */
    max-width: 400px;
    /* Ancho máximo del contenedor */
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: lightgray;
}

/* Pantalla de resultados */
.gridResult {
    grid-column: span 4;
    /* Ocupa las 4 columnas */
    padding: 10px;
    text-align: center;
    font-size: 24px;
    border: 1px solid #ccc;
    border-radius: 5px;


    & .result {
        height: 100%;
        width: 100%;
    }

}


/* Entradas numéricas */
.gridInput {
    grid-column: span 4;
    /* Ocupa las 4 columnas */
}

.input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Botones de operación */
.gridButton {
    display: grid;
    grid-column: span 4;
    gap: 10px;
    /* Espacio entre botones */
    margin-top: 10px;
    /* Espacio entre pantalla y botones */
}

.button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}

form {
    display: contents;
}

h1 {
    text-align: center;
    font-size: 36px;
    color: #007bff; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}